* {
    box-sizing: border-box;
  }
  
  body {
    background-color:write;
    padding: 20px;
    font-family: Arial;
    background-image: url(/HouseofBeauty/assets/img/color\ backk.jpg);
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    color: white;
    font-style: oblique;
    font-weight: bold;

  background-color:rgb(213, 213, 101);
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: -2s;
}

h4{
float: right;
font-weight: bold;
color:black;

font-size: 50px;
word-break: break-all;

font-style: oblique;
font-weight: bold;

background-color: grey;
position: relative;
animation-name: example;
animation-duration: 4s;
animation-delay: -2s;
}

p1{
    float: right;
    font-weight: bold;
    color:black;
     font-size: 30px;
    word-break: break-all;
    
    font-style: oblique;
    font-weight: bold;

  background-color:orange
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: -2s;
}

p{
    color: black;
    font-size: 20px;
    word-break: break-all;
    font-style: oblique;
    font-weight: normal;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
  
  
  
  img{
    border-radius: 50%;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container{
    color: black;
  }